@import './scss/index.scss';

.reviewCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid rgba($primary-color, 0.6);

  .imageCircle {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border: 10px solid $primary-color;
    margin-bottom: 3rem;
  }

  p {
    font-family: $font;
    color: $gray;
    font-size: 1.2rem;

    &:first-of-type,
    &:last-of-type {
      margin-bottom: 2rem;
    }

    span {
      font-weight: 700;
    }
  }
}
