@import './scss/index.scss';

.reviewCard {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid rgba($primary-color, 0.6);

  @media screen and (min-width: 728px) {
    &:nth-child(odd) {
      grid-template-columns: 200px 1fr;
    }
    &:nth-child(even) {
      grid-template-columns: 1fr 200px;

      .imageCircle {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }

      p {
        grid-row: 1 / 2;
      }

      .reviewName {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
    }
  }

  .imageCircle {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border: 10px solid $primary-color;
    margin-bottom: 3rem;
  }

  p {
    font-family: $font;
    color: $gray;
    font-size: 1.2rem;

    &:first-of-type,
    &:last-of-type {
      margin-bottom: 2rem;
    }

    span {
      font-weight: 700;
    }
  }
}
