@import './scss/index.scss';

.teaserBox {
  background-color: $secondary-color;
}

.box {
  padding-block: 3rem;
  padding-inline: 3rem;
  font-family: $font;
  text-align: center;

  @media screen and (min-width: 728px) {
    display: flex;
    gap: 2rem;
  }

  .boxText {
    h1 {
      text-transform: uppercase;
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;

      span {
        text-transform: uppercase;
      }
    }
    @media screen and (min-width: 728px) {
      width: 50%;
    }
  }

  .boxImages {
    display: none;

    .boxImage {
      position: relative;
      height: 150px;
    }

    @media screen and (min-width: 728px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      width: 50%;
    }
  }
}
